<div class="container card shadow p-4 d-flex flex-column justify-content-center align-items-center">
  <img class="img-fluid w-50 rounded-circle" src={{pushUser?.image}} alt="Profile image">
  <h3 class="card-title fs-6 pt-3">{{pushUser?.first_name}} {{pushUser?.last_name}}</h3>
  <div class="container row g-2 mt-2">
    <a class="btn btn-ligth col-4 p-0 link" [routerLink]="['/user/', pushUser?._id]">
      <i class="bi bi-search"></i>
      <p class="text-center btnText">Ver detalle</p>
    </a>
    <a class="btn btn-ligth col-4 p-0 link" [routerLink]="['/updateuser/', pushUser?._id]">
      <i class="bi bi-arrow-clockwise"></i>
      <p class="btnText">Actualizar</p>
    </a>
    <a class="btn btn-ligth col-4 p-0 link" (click)="deleteUser(pushUser._id)">
      <i class="bi bi-trash"></i>
      <p class="btnText">Borrar</p>
    </a>
  </div>
</div>
