<section class="container-fluid mt-3 row d-flex justify-content-center">
  <img class="img-fluid rounded-circle col-8 col-md-6 col-lg-4" src={{oneUser?.image}} alt="Profile image">
  <div class="col-12 col-md-5 d-flex flex-column justify-content-center ms-xl-4 mt-3 mt-md-0">
    <h1 class="userName">{{ oneUser?.first_name }}</h1>
    <h3>{{oneUser?.last_name}}</h3>
    <p><strong>Nombre de usuario: </strong>{{oneUser?.username}}</p>
    <p><strong>Email: </strong>{{oneUser?.email}}</p>
    <div class="row gap-2">
      <button type="button" class="btn border col-12 col-lg-3 btnProfile text-center" (click)="deleteUser(oneUser?._id)">Eliminar</button>
      <button type="button" class="btn border col-12 col-lg-3 btnProfile" [routerLink]="['/updateuser/', oneUser?._id]">Actualizar</button>
      <button type="button" class="btn border col-12 col-lg-3 btnProfile" [routerLink]="['/home']">Volver a listado</button>
    </div>
  </div>
</section>
