<section class="container mt-3 row d-flex justify-content-center">
  <img class="img-fluid rounded-circle col-8 col-md-4" src={{oneUser?.image}} alt="Profile image">
  <div class="col-5 d-flex flex-column justify-content-center ms-4">
    <h1 class="userName">{{ oneUser?.first_name }}</h1>
    <h3>{{oneUser?.last_name}}</h3>
    <p><strong>Nombre de usuario: </strong>{{oneUser?.username}}</p>
    <p><strong>Email: </strong>{{oneUser?.email}}</p>
    <div class="row gap-2">
      <a class="btn border col-12 col-lg-3" (click)="deleteUser(oneUser?._id)">Eliminar</a>
      <a class="btn border col-12 col-lg-3" [routerLink]="['/updateuser/', oneUser?._id]">Actualizar</a>
      <a class="btn border col-12 col-lg-3" [routerLink]="['/home']">Voler a listado</a>
    </div>
  </div>
</section>
